
body{
    background-image: url('food.png');
}
.font{
    color: blue;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
h2{
    font-size: 30px;
    text-align: center;
}
h1{
    font-size: 50px;
    text-align: center;
}
.center{
    text-align: center;
    position: relative;
    top: 100px;
}
.login{
    text-align: left;
    position: absolute;
    right: 20px;
    top: 0px;
}
.search-button{
    position: relative;
    top: 100px;
    background: transparent;
    border: none;
    outline: none;
}
.search-button img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.results{
    padding-top: 10px;
    padding-bottom: 10px;
}
.search{  
    position: relative;
    padding: 10px 35px 10px 15px;
    height: 40px;
    left: 0;
    border-radius: 100px;
    outline: none;
    border: 1px solid #cdcdcd21;
    border-color: black;
    background-color: white;
    font-size: 16px;
    top: 100px;
}
#commsearch{
    position: relative;
    bottom: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}